.error{
  &__text{
    display: block;
    color: #ff0000;
    font-size: 16px;
    text-align: center;
  }
}

.game{
  &__text{
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    &--title{
      font-size: 50px;
      color: #34364C;
    }
  }

  &__order{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon{
    margin-left: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
    &--light{
      background-color: #F4F7FA;
      border: 2px solid #34364C;
    }

    &--dark{
      background-color: #34364C;
      border: 2px solid #F4F7FA;
    }
  }
}